body {
  color: rgb(248, 135, 154);
}

h1 {
  color: rgb(36, 92, 28);
}

.quote {
  color: rgb(135, 29, 29);
}

.quote.narrator {
  color: black;
}

#intro p {
  color: rgb(51, 123, 195);
}

.super-important-omg {
  font-size: 20px;
  background-color: yellow;
}
