body {
  background-color: rgb(244, 219, 226);
  color: rgb(236, 134, 134);
  font-family: Monospace, Monaco;
  margin: 40px;
  padding: 15px;
  border-style: double;
  border-width: 10px;
  border-color: rgb(36, 92, 28);;
  text-align: justify;
}

h1 {
  text-align: center;
  font-family: Fantasy, Papyrus;
  color: rgb(36, 92, 28);
  border-style: dotted;
  padding: 10px;
  border-radius: 20px;
  border-width: 6px;
}

.quote {
  font-style: italic;
  font-size: 20px;
  color: rgb(135, 29, 29);
}

.quote.narrator {
  color: black;
}

#intro p {
  color: rgb(68, 111, 154);
}

.super-important-omg {
  font-size: 20px;
  background-color: yellow;
}
